.bl1 {
	position: absolute;
	outline: 6px solid gold;
	left: 180px;
	top: 40px;
	width: 500px;
	height: 500px;
	background-color: #F5F5DC;
}

.rotated {
	position: absolute;
	border: 2px solid gold;
	background-color: transparent;
	outline: 6px solid gold;
	width: 500px;
	height: 500px;
	top: 40px;
	left: 180px;
	transform: rotate(8deg);
	background-color: #F5F5DC;
}

.ph {
	position: absolute;
	z-index: 2;
	height: 300px;
	width: 300px;
	background-color: transparent;
	outline: 6px solid gold;
	top: 120px;
	left: 280px;
	background-image: url(1.png);
}

.phh {
	position: absolute;
	height: 300px;
	width: 300px;
	outline: 6px solid gold;
	top: 120px;
	left: 280px;
	background-image: url(фон.jpg);
	transform: rotate(-8deg);
}