*{
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
}


#header {
	height: 180px;
	background: linear-gradient(to right, #13bc00, #badbc7);

}

#zg {
	font-size: 45px;
	text-align: center;
	padding-top: 55px;
	font-style: italic;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

#nav {
	height: 90px;
	background-color: #4dec1d;
}

#men {
	list-style-type: none;
	margin: 0;
	padding-top: 30px;
}

#men a {
	display: block;
	font: 16px Verdana;
	text-decoration: none;
}

#men a:link {
	color: #20B2AA;
}

#men a:visited {
	color: #000000;
}

#men a:hover {
	color: #ffffff;
	text-decoration: none;
}

#men li {
	float: left;
}

#men a {
	display: block;
	font: 16px Verdana;
	margin: 0 35px;
}

#menu {
	width: 29%;
	height: 700px;
	background-color: #5ee479;
	float: left;
}

#navi {
	list-style-type: none;
	margin: 0;
	padding-top: 50px;
}

#navi li {
	margin: 30px;
}



#navi a {
	font: 16px Verdana;
	text-decoration: none;
	margin: 0 50 50 50px;
	padding: 10px;
}

#navi a:link {
	color: #20B2AA;
}

#navi a:visited {
	color: #000000;
}

#navi a:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #000000;
}

#men a {
	font: 16px Verdana;
	margin: 0 35px;
}


#content {
	height: 700px;
	background-color: #76d088;
	width: 71%;
	margin-left: 29%;
}

#rk {
	text-align: center;
}

#img {
	width: 130px;
	height: 205px;
	float: left;
	margin: 7px 7px 7px 7px;
}

#text {
	font-size: 12px;
	text-indent: 40px;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 1.5;
	text-align: justify;
	font-family: Verdana;
}

#footer {
	height: 90px;
	background-color: #0ba522;
	font-family: Verdana;
	font-size: 20px;
	line-height: 1.5;
	text-align: center;
	padding-top: 50px;
}